name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
    - name: Obtendo o código
      uses: actions/checkout@v6.0.1
      
    # - name: Docker Login
    #   uses: docker/login-action@v3.6.0
    #   with:
    #     username: ${{secrets.DOCKERHUB_USER}}
    #     password: ${{secrets.DOCKERHUB_PWD}}

    - name: Construção da imagem Docker worker
      uses: Docker/build-push-action@v6.18.0
      with: 
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: |
          aluizio_diniz/kube-news:${{github.run_number}}
          aluizio_diniz/kube-news:latest    
