name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  CI:
    runs-on: ubuntu-latest
    env:
      SCAN_PATH: "." # Set the relative path in the repo to build the image from
     # TAG: "docker-tag" # Set the tag to use for the image
      POLICY: "aluizio_policy_83341" # Set the desired Wiz CLI policy to use

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    - name: Obtendo o código
      uses: actions/checkout@v6.0.1
      
    - name: Docker Login
      uses: docker/login-action@v3.6.0
      with:
        username: ${{secrets.DOCKERHUB_USER}}
        password: ${{secrets.DOCKERHUB_PWD}}

    - name: Construção da imagem Docker worker
      uses: Docker/build-push-action@v6.18.0
      with: 
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: |
          aluiziod/kube-news:${{github.run_number}}
          aluiziod/kube-news:latest 

    - name: Download Wiz CLI
      run: curl -o wizcli https://downloads.wiz.io/wizcli/latest/wizcli-linux-amd64 && chmod +x wizcli

    - name: Authenticate to Wiz
      run: ./wizcli auth --id "$WIZ_CLIENT_ID" --secret "$WIZ_CLIENT_SECRET"
      env:
        WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
        WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}

    - name: Run wiz-cli docker image scan
      run: ./wizcli docker scan --image aluiziod/kube-news:latest --policy "$POLICY"

    - name: Fetch digest of Docker image for Graph enrichment
      run: ./wizcli docker tag --image aluiziod/kube-news:latest 

